__pycache__/
*.py[cod]
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
*.coverage
htmlcov/
reports/
.idea/
.vscode/
.ipynb_checkpoints
.DS_Store
*.swp
*.bak
*.tmp
*.log
poetry.lock
.poetry
.env
